.env                    # Ignore environment variables file
.venv                   # Ignore Python virtual environments
env/                    # Ignore environment folders
venv/                   # Ignore environment folders
ENV/                    # Ignore environment folders
env.bak/                # Ignore environment backups
venv.bak/               # Ignore environment backups
